
.container {

    padding: 0px;
    
}

p {

    font-family: 'Open Sans', sans-serif;

}

.marker {

font-family: 'Permanent Marker', cursive;

}

.navItem {

    font-family: 'Permanent Marker', cursive;

    font-size: 26px;

    

}

.carosel {

    background-color: #8D0033;


}